In [1]:
import numpy as np
import pandas as pd

In [2]:
ar_list=[3,10,3,4,5]
print(type(ar_list))

<class 'list'>

In [3]:
s1 = pd.Series(ar_list)
print(s1)

0     3
1    10
2     3
3     4
4     5
dtype: int64

In [4]:
# 使用数组传家
np_arr = np.arange(1,6)
print(type(np_arr))
s2 = pd.Series(np_arr)
print(s2)

<class 'numpy.ndarray'>
0    1
1    2
2    3
3    4
4    5
dtype: int32

In [5]:
a = pd.Series(100, index=range(5))
a

0    100
1    100
2    100
3    100
4    100
dtype: int64

In [6]:
data = np.array(['a','b','c','d'])
b = pd.Series(data,index=[100,101,102,103])
b

100    a
101    b
102    c
103    d
dtype: object

In [7]:
d = {'a':1,'b':2,'c':3}
a1 = pd.Series(d,index=['a','b','c'])
a1

a    1
b    2
c    3
dtype: int64

In [8]:
a2 = pd.Series(d,index=['a','p','w'])
a2

a    1.0
p    NaN
w    NaN
dtype: float64

In [9]:
a3 = pd.Series(d,index=['c','a','b'])
a3

c    3
a    1
b    2
dtype: int64

In [10]:
data = {
    'bj':2000,
    'sh':2500,
    'sz':1800
}
s1 = pd.Series(data)
s1

bj    2000
sh    2500
sz    1800
dtype: int64

In [12]:
# 给数组,索引名字
s1.name='city data'
s1.index.name='city name'
s1

city name
bj    2000
sh    2500
sz    1800
Name: city data, dtype: int64

In [13]:
n1 = np.arange(1,6)
sn1 = pd.Series(n1)
sn1

0    1
1    2
2    3
3    4
4    5
dtype: int32

In [14]:

sn1[4]=99
sn1

0     1
1     2
2     3
3     4
4    99
dtype: int32

In [15]:
n2=[1,2,3,4,5]
sn2 = pd.Series(n2)
sn2

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [20]:
sn2[4]=99
print(sn2)
print(n2)

0     1
1     2
2     3
3     4
4    99
dtype: int64
[1, 2, 3, 4, 5]

In [23]:
s = pd.Series(np.random.rand(5))
print(s)
print(s[3], type(s[3]), s[3].dtype)

0    0.984352
1    0.197747
2    0.658263
3    0.369808
4    0.007002
dtype: float64
0.36980827769832103 <class 'numpy.float64'> float64

In [26]:
s1 = pd.Series(np.random.rand(5),index=list('abcde'))
print(s1)
print(s1['c'])
print(s1[2])

a    0.361590
b    0.038810
c    0.347933
d    0.873614
e    0.338302
dtype: float64
0.3479330426291276
0.3479330426291276

In [27]:
# 取多个元素需要用[[]] (相当于[]里面放一个列表)
print(s1[['b','e']])

b    0.038810
e    0.338302
dtype: float64

In [28]:
s2 = s1[['b','a','e']]
print(s2)

b    0.038810
a    0.361590
e    0.338302
dtype: float64

In [30]:
s3 = pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
s3

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [31]:
# 位置索引就是a,b,c,d,e的下表---0,1,2,3,4
# 标签索引a,b,c,d,e
print(s3['a'])
print(s3[0:2])   # 不包含结束值

1
a    1
b    2
dtype: int64

In [32]:
print(s3['a':'c'])   # 包含结束值
print(s3[-3:])  # 位置索引进行负值切片操作

a    1
b    2
c    3
dtype: int64
c    3
d    4
e    5
dtype: int64

In [42]:
s = pd.Series(np.random.rand(15))
print(s.head())   # 默认显示前五条数据
print(s.head(3))   # 给的数字表示几条

0    0.596159
1    0.839747
2    0.082035
3    0.538716
4    0.044496
dtype: float64
0    0.596159
1    0.839747
2    0.082035
dtype: float64

In [44]:
print(s.tail())   # 默认显示前五条数据
print(s.tail(3))   # 给的数字表示几条

10    0.044148
11    0.676478
12    0.626285
13    0.351311
14    0.230776
dtype: float64
12    0.626285
13    0.351311
14    0.230776
dtype: float64

In [35]:
s = pd.Series(np.random.rand(5),index=list('abcde'))
print(s)
s1 = s.reindex(list('cde'))
print(s1)

a    0.335834
b    0.778573
c    0.376172
d    0.610695
e    0.956534
dtype: float64
c    0.376172
d    0.610695
e    0.956534
dtype: float64

In [36]:
s2 = s.reindex(list('awz'))
s2

a    0.335834
w         NaN
z         NaN
dtype: float64

In [40]:
s3 = s.reindex(list('awz'),fill_value=10)
s3

a     0.335834
w    10.000000
z    10.000000
dtype: float64