In [1]:
import numpy as np
import pandas as pd

In [5]:
data = [1,2,3,4,5]
d1 = pd.DataFrame(data)
print(d1)

   0
1  1
2  2
3  3
4  4
5  5

In [6]:
s1 = pd.Series(data)
print(s1)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [8]:
data = [['wzh',20],['zjl',30],['gmr',18]]
d2 = pd.DataFrame(data)
print(d2)

     0   1
0  wzh  20
1  zjl  30
2  gmr  18

In [9]:
data = [['wzh',20],['zjl',30],['gmr',18]]
d2 = pd.DataFrame(data,columns=['名字','年龄'])
print(d2)

    名字  年龄
0  wzh  20
1  zjl  30
2  gmr  18

In [14]:
data = [['bbb',19,'女',2000],['ccc',20,'女',2000],['aaa',200,'男']]
# 分配列标签
df = pd.DataFrame(data,columns=['名字','年龄','性别','消费'],dtype=int)
print(df)
print(df['消费'].dtype)
print(df['年龄'].dtype)

    名字   年龄 性别      消费
0  bbb   19  女  2000.0
1  ccc   20  女  2000.0
2  aaa  200  男     NaN
float64
int32

C:\Users\18354\AppData\Local\Temp\ipykernel_34396\2612152091.py:3: FutureWarning: Could not cast to int32, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised.
  df = pd.DataFrame(data,columns=['名字','年龄','性别','消费'],dtype=int)
C:\Users\18354\AppData\Local\Temp\ipykernel_34396\2612152091.py:3: FutureWarning: In a future version, passing float-dtype values containing NaN and an integer dtype will raise IntCastingNaNError (subclass of ValueError) instead of silently ignoring the passed dtype. To retain the old behavior, call Series(arr) or DataFrame(arr) without passing a dtype.
  df = pd.DataFrame(data,columns=['名字','年龄','性别','消费'],dtype=int)

In [18]:
datav = {'name':['aaa','bbb','ccc'],'age':[1,2,3]}
# 通过字典创建
# 添加行标签
index = ['stu1','stu2','stu3']
df = pd.DataFrame(datav,index=index)
print(df)
print(df.index)
print(list(df.index))

     name  age
stu1  aaa    1
stu2  bbb    2
stu3  ccc    3
Index(['stu1', 'stu2', 'stu3'], dtype='object')
['stu1', 'stu2', 'stu3']

In [20]:
data = [{'aaa':1,'b':2},{'aaa':1,'b':2,'c':55},{'aaa':1,'b':2}]
df = pd.DataFrame(data)
print(df)

   aaa  b     c
0    1  2   NaN
1    1  2  55.0
2    1  2   NaN

In [23]:
data = [{'a':10,'b':2},{'aaa':1,'b':2,'c':55}]
# 指定行标签和列标签
df = pd.DataFrame(data,index=['num1','num2'],columns=['a','b'])
print(df)

         a  b
num1  10.0  2
num2   NaN  2

In [25]:
d = {'one':pd.Series([1,2,3],index=['a','b','c']),
    'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df = pd.DataFrame(d)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4