In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame({'b':[1,3,4,2],'c':[2,3,4,1],'a':[4,1,2,3]},index=[3,1,0,2])
df

   b  c  a
3  1  2  4
1  3  3  1
0  4  4  2
2  2  1  3

In [4]:
# b列升序排列
df1 = df.sort_values(by='b')
df1

   b  c  a
3  1  2  4
2  2  1  3
1  3  3  1
0  4  4  2

In [6]:
# 先俺b列升序再按a列降序
df1 = df.sort_values(by=['b','a'],ascending=[True,False])
df1

   b  c  a
3  1  2  4
2  2  1  3
1  3  3  1
0  4  4  2

In [7]:
# 按行3升序
df1 = df.sort_values(by=3,axis=1)
df1

   b  c  a
3  1  2  4
1  3  3  1
0  4  4  2
2  2  1  3

In [10]:
# 按行3升序,行1降序排列
df1 = df.sort_values(by=[3,1],axis=1,ascending=[True,False])
df1

   b  c  a
3  1  2  4
1  3  3  1
0  4  4  2
2  2  1  3

In [18]:
# 列表
data = [[1,3,2,4],[2,3,5,4],[5,6,8,7],[3,2,5,6],[9,3,5,1]]
columns = ['four','one','whree','two']
index = ['a','b','c','d','e']
df = pd.DataFrame(data,index=index,columns=columns)
print(df)

   four  one  whree  two
a     1    3      2    4
b     2    3      5    4
c     5    6      8    7
d     3    2      5    6
e     9    3      5    1

In [32]:
# 使用 ndarrays 创建
data = {'four':[1,3,2,4,1],'one':[2,3,5,4,6],'three':[5,6,8,7,9],'two':[3,2,5,6,2]}
index = ['a','b','c','d','e']
df = pd.DataFrame(data,index=index)
print(df)

   four  one  three  two
a     1    2      5    3
b     3    3      6    2
c     2    5      8    5
d     4    4      7    6
e     1    6      9    2

In [36]:
# 字典
data = [{'four':2,'one':4,'three':1,'two':8},{'four':4,'one':7,'three':6,'two':8},{'four':0,'one':1,'three':3,'two':7},{'four':2,'one':1,'three':8,'two':3},{'four':2,'one':1,'three':8,'two':3}]
index = ['a','b','c','d','e']
df = pd.DataFrame(data,index=index)
print (df)

   four  one  three  two
a     2    4      1    8
b     4    7      6    8
c     0    1      3    7
d     2    1      8    3
e     2    1      8    3

In [46]:
data = np.random.randint(0,100,size=(4,4))
index = ['a','b','c','d']
columns = ['four','one','whree','two']
df = pd.DataFrame(data,index=index,columns=columns)
print(df)

   four  one  whree  two
a    79    5     83   73
b     4   73     41   15
c    43   69      8   67
d    82   58     40   96

In [9]:
a = np.random.randint(0, 100, 16)
b = np.random.rand(16)
c = a+b
data = np.array(c).reshape(4,4)
index = ['a','b','c','d']
columns = ['four','one','whree','two']
df = pd.DataFrame(data,index=index,columns=columns)
print(df)
# print(d)

        four        one      whree        two
a  34.479179  39.143400  73.197949  90.393889
b  55.779665  53.586864  20.630890  64.626051
c  58.778884  37.957795  39.662449  69.656840
d   4.711459  96.180687  85.960515  98.849905

In [3]:
aa = pd.DataFrame(np.array(np.random.rand(16)*100).reshape(4,4),index=['four','one','whree','two'],columns=['a','b','c','d'])
print(aa)
# b,c所有值
print(aa[['b','c']])
# 索引取得3,4行的数据
print(aa.iloc[2:])
# 按序
print(aa.loc[['two','one']])
# 索引取得大于50值
print(aa[aa>50])

               a          b          c          d
four   89.195677  56.992639  97.502652   2.410479
one    63.793891  14.133302  17.454519  25.337392
whree  59.206486  86.873835  23.550506  89.836456
two    97.080416  10.208420  13.429734  69.878656
               b          c
four   56.992639  97.502652
one    14.133302  17.454519
whree  86.873835  23.550506
two    10.208420  13.429734
               a          b          c          d
whree  59.206486  86.873835  23.550506  89.836456
two    97.080416  10.208420  13.429734  69.878656
             a          b          c          d
two  97.080416  10.208420  13.429734  69.878656
one  63.793891  14.133302  17.454519  25.337392
               a          b          c          d
four   89.195677  56.992639  97.502652        NaN
one    63.793891        NaN        NaN        NaN
whree  59.206486  86.873835        NaN  89.836456
two    97.080416        NaN        NaN  69.878656

In [7]:
aaa = pd.DataFrame(np.array(np.random.rand(9)*100).reshape(3,3),
                       index=['a','b','c'],
                       columns=['v1','v2','v3'])
print(aaa)
print(aaa.sort_index(ascending=False))
print(aaa.sort_values('v2',ascending=False))

          v1         v2         v3
a  87.091604  10.627202  41.609081
b  91.373995   3.577310  50.499218
c  58.409456  26.929401  25.459922
          v1         v2         v3
c  58.409456  26.929401  25.459922
b  91.373995   3.577310  50.499218
a  87.091604  10.627202  41.609081
          v1         v2         v3
c  58.409456  26.929401  25.459922
a  87.091604  10.627202  41.609081
b  91.373995   3.577310  50.499218