In [1]:
import numpy as np
import pandas as pd

In [3]:
import os 
print(os.path.abspath('.'))

C:\Users\18354\日期12

In [7]:
data = {'name':['aaa','bbb','ccc'],'sex':['男','女','女']}
# 定义行标签
index = ['stu1', 'stu2', 'stu3']
# 使用字典创建
df = pd.DataFrame(data,index=index)
print(df)
print(df[['name','sex']])

     name sex
stu1  aaa   男
stu2  bbb   女
stu3  ccc   女
     name sex
stu1  aaa   男
stu2  bbb   女
stu3  ccc   女

In [20]:
data = {'name':['aaa','bbb','ccc'],'sex':['男','女','女'],'age':[20,20,20]}
# 定义行标签
index = ['stu1', 'stu2', 'stu3']
# 使用字典创建
df = pd.DataFrame(data,index=index)
df['score']=[90,90,90]
print(df)

     name sex  age  score
stu1  aaa   男   20     90
stu2  bbb   女   20     90
stu3  ccc   女   20     90

In [21]:
a = df['name':'sex']   # 不能使用切片操作
print(a)  
print([0])  # 不可以使用标签下标取值

Empty DataFrame
Columns: [name, sex, age, score]
Index: []
[0]

In [10]:
# 将已经有的列进行运算得到新的列
df['rating']=df['age']+df['score']
print(df)

     name sex  age  score  rating
stu1  aaa   男   20     90     110
stu2  bbb   女   20     90     110
stu3  ccc   女   20     90     110

In [15]:
# allow_duplicates=True 允许数据重复
df.insert(4, column='score',value=[90,91,92],allow_duplicates=True)
print(df)

     name sex  age  score  score  score1  rating
stu1  aaa   男   20     90     90      90     110
stu2  bbb   女   20     90     91      91     110
stu3  ccc   女   20     90     92      92     110

In [17]:
del df['score']  # 没有返回值
print(df)

     name sex  age  rating
stu1  aaa   男   20     110
stu2  bbb   女   20     110
stu3  ccc   女   20     110

In [19]:
# pop(),有返回值是删除的东西
a = df.pop('age')
print(a)  # 输出删除了什么
print("+++++++++++")
print(df)  # 输出剩余的

stu1    20
stu2    20
stu3    20
Name: age, dtype: int64
+++++++++++
     name sex  rating
stu1  aaa   男     110
stu2  bbb   女     110
stu3  ccc   女     110

In [28]:
data = {'name':['aaa','bbb','ccc'],'sex':['男','女','女'],'age':[20,20,20]}
# 定义行标签
index = ['stu1', 'stu2', 'stu3']
# 使用字典创建
df = pd.DataFrame(data,index=index)
print(df)
print("+++++++++++++++++++")
print(df.loc[['stu2','stu1']])

     name sex  age
stu1  aaa   男   20
stu2  bbb   女   20
stu3  ccc   女   20
+++++++++++++++++++
     name sex  age
stu2  bbb   女   20
stu1  aaa   男   20

In [29]:
df.loc['stu3','name']   # 行和列

'ccc'

In [39]:
aa = df.loc[['stu1','stu2'],['name','sex']]  # 行和列
print(aa)
aa = df.loc['stu1':'stu2','name']
print(aa)

     name sex
stu1  aaa   男
stu2  bbb   女
stu1    aaa
stu2    bbb
Name: name, dtype: object

In [44]:
# 索引位置为2的数据, 标签不算从上到下从0开始取, iloc和loc不能混用
df.iloc[2]

name    ccc
sex       女
age      20
Name: stu3, dtype: object

In [47]:
df.iloc[[0,2]]  # 一次取多个加一成[]

     name sex  age
stu1  aaa   男   20
stu3  ccc   女   20

In [49]:
df.iloc[0:2]  # 切片操作首取尾不取

     name sex  age
stu1  aaa   男   20
stu2  bbb   女   20

In [50]:
print(550*8/1000)

4.4