In [1]:
import numpy as np
import pandas as pd

In [22]:
data = {
    'Name':['关羽','刘备','张飞','曹操'],
    'Age':[28,34,29,42],
    'Salary':[5000,8000,4500,10000],
    'Hobby':["python","java","go","JavaScript"]
}
# 定义行标签
index = ["rank1","rank2","rank3","rank4"]
# 通过字典创建DataFrame
df = pd.DataFrame(data,index=index)
print(df)
print("1111111111111")
print(df.iloc[2])
print("2222222222222")
print(df['Age'])
print("3333333333333")
print(df[['Age','Salary']])
print("444444444444444")
print(df.iloc[0:3])
print("55555555555555555")
a = df.iloc[:3]
print(a[['Name','Age','Salary']])
print("66666666666666666")
b = df.iloc[[0,2]]
print(b[['Age','Salary']])

      Name  Age  Salary       Hobby
rank1   关羽   28    5000      python
rank2   刘备   34    8000        java
rank3   张飞   29    4500          go
rank4   曹操   42   10000  JavaScript
1111111111111
Name        张飞
Age         29
Salary    4500
Hobby       go
Name: rank3, dtype: object
2222222222222
rank1    28
rank2    34
rank3    29
rank4    42
Name: Age, dtype: int64
3333333333333
       Age  Salary
rank1   28    5000
rank2   34    8000
rank3   29    4500
rank4   42   10000
444444444444444
      Name  Age  Salary   Hobby
rank1   关羽   28    5000  python
rank2   刘备   34    8000    java
rank3   张飞   29    4500      go
55555555555555555
      Name  Age  Salary
rank1   关羽   28    5000
rank2   刘备   34    8000
rank3   张飞   29    4500
66666666666666666
       Age  Salary
rank1   28    5000
rank3   29    4500

In [44]:
# 添加数据行
data = {
    'Name':['关羽','刘备','张飞','曹操'],
    'Age':[28,34,29,42],
    'Salary':[5000,8000,4500,10000],
    'Hobby':["python","java","go","JavaScript"]
}
# 定义行标签
index = ["rank1","rank2","rank3","rank4"]
# 通过字典创建DataFrame
df = pd.DataFrame(data,index=index)
print(df)

      Name  Age  Salary       Hobby
rank1   关羽   28    5000      python
rank2   刘备   34    8000        java
rank3   张飞   29    4500          go
rank4   曹操   42   10000  JavaScript

In [29]:
d2 = {'Name':'aaa','Sex':'女','Age':20}
df1 = df.append(d2,ignore_index=True)  # 第一种方法
print(df1)

  Name  Age   Salary       Hobby  Sex
0   关羽   28   5000.0      python  NaN
1   刘备   34   8000.0        java  NaN
2   张飞   29   4500.0          go  NaN
3   曹操   42  10000.0  JavaScript  NaN
4  aaa   20      NaN         NaN    女

C:\Users\18354\AppData\Local\Temp\ipykernel_24040\1119224145.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df.append(d2,ignore_index=True)

In [32]:
d2 = {'Name':'bbb','Sex':'女','Age':20}
s = pd.Series(d2,name='a')   # 第二种给序列名(行标签)
df2 = df.append(s)
print(df2)

      Name  Age   Salary       Hobby  Sex
rank1   关羽   28   5000.0      python  NaN
rank2   刘备   34   8000.0        java  NaN
rank3   张飞   29   4500.0          go  NaN
rank4   曹操   42  10000.0  JavaScript  NaN
a      bbb   20      NaN         NaN    女

C:\Users\18354\AppData\Local\Temp\ipykernel_24040\3515589012.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df.append(s)

In [33]:
data = [[1,2,3,4,5],[6,7,8,9,10]]
df = pd.DataFrame(data)
print(df)

   0  1  2  3   4
0  1  2  3  4   5
1  6  7  8  9  10

In [35]:
a1 = [20,30]   # 一维的以列添加
df1 = df.append(a1,ignore_index=True)
print(df1)

    0    1    2    3     4
0   1  2.0  3.0  4.0   5.0
1   6  7.0  8.0  9.0  10.0
2  20  NaN  NaN  NaN   NaN
3  30  NaN  NaN  NaN   NaN

C:\Users\18354\AppData\Local\Temp\ipykernel_24040\1496219609.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df.append(a1,ignore_index=True)

In [37]:
a2 = [[10,'20',30]]
df2 = df.append(a2,ignore_index=True)
print(df2)

    0   1   2    3     4
0   1   2   3  4.0   5.0
1   6   7   8  9.0  10.0
2  10  20  30  NaN   NaN

C:\Users\18354\AppData\Local\Temp\ipykernel_24040\2097660962.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df.append(a2,ignore_index=True)

In [42]:
df = pd.DataFrame([[1,2],[3,4]],columns=['a', 'b'])
df2 = pd.DataFrame([[5,6],[7,8]],columns=['a','b'])
df = df.append(df2,ignore_index=True)
df

C:\Users\18354\AppData\Local\Temp\ipykernel_24040\2652793960.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df2,ignore_index=True)

   a  b
0  1  2
1  3  4
2  5  6
3  7  8

In [43]:
# drop方法不会改变数据源
df1 = df.drop(0)
df1

   a  b
1  3  4
2  5  6
3  7  8

In [41]:
df

   a  b
0  1  2
1  3  4
0  5  6
1  7  8